<section id="carousel" class="container-fluid p-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="caro-img1 w-100">
                    <div class="caro-img1-content d-flex flex-column justify-content-center">
                        <div class="w-50 mx-auto">
                            <h1>I Am A Developer</h1>
                            <button type="button" class="btn btn-outline-dark">My Work</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="caro-img2 w-100">
                    <div class="caro-img2-content d-flex flex-column justify-content-center">
                        <div class="w-50 mx-auto text-center">
                            <h1>I Am An Artist</h1>
                            <button type="button" class="btn btn-outline-dark">My Work</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="caro-img3 w-100">
                    <div class="caro-img3-content d-flex flex-column justify-content-center">
                        <div class="w-50 mx-auto text-right">
                            <h1>I Am A Designer</h1>
                            <button type="button" class="btn btn-outline-dark">My Work</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>