<section id="comrades" class="container-fluid py-5">
    <div class="container-fluid text-center">
        <h1 class="text-uppercase">my comrades</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <hr class="w-25">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 img-value">
                <img src="https://images.pexels.com/photos/1008155/pexels-photo-1008155.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="img-value-num" alt="">
                <div class="bg-success d-flex justify-content-around py-2 img-value-content">
                    <div>
                        <h4>Comrade</h4>
                        <p>Web Developer</p>
                        <div class="d-flex justify-content-between text-white">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i> </div>
                    </div>
                    <div class="my-auto">
                        <i class="fas fa-plus-square display-4 text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 img-value">
                <img src="https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="img-value-num" alt="">
                <div class="bg-success d-flex justify-content-around py-2 img-value-content">
                    <div>
                        <h4>Comrade</h4>
                        <p>Web Developer</p>
                        <div class="d-flex justify-content-between text-white">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i> </div>
                    </div>
                    <div class="my-auto">
                        <i class="fas fa-plus-square display-4 text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 img-value">
                <img src="https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="img-value-num" alt="">
                <div class="bg-success d-flex justify-content-around py-2 img-value-content">
                    <div>
                        <h4>Comrade</h4>
                        <p>Web Developer</p>
                        <div class="d-flex justify-content-between text-white">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin"></i> </div>
                    </div>
                    <div class="my-auto">
                        <i class="fas fa-plus-square display-4 text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>