<section id="current" class="container-fluid">
    <div class="container-fluid">
        <div class="row current-content bg-secondary py-5">
            <div class="col-lg-6 text-center current-cont d-flex flex-column justify-content-center">
                <div>
                    <h1 class="text-uppercase">current project</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A iste est nihil odit, debitis minima
                        omnis
                        eveniet quia voluptatem, delectus tempora facilis pariatur totam nisi sapiente voluptas nam
                        deserunt. Eos.</p>
                    <button type="button" class="btn btn-success text-uppercase">learn more</button>
                </div>
            </div>
            <div class="col-lg-4 mx-auto current-cont1">
                <div class="bg-danger ">
                    <img class="current1"
                        src="https://images.pexels.com/photos/374147/pexels-photo-374147.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="current2"
                        src="https://images.pexels.com/photos/1596563/pexels-photo-1596563.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="current3"
                        src="https://images.pexels.com/photos/1581687/pexels-photo-1581687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <img class="current4"
                        src="https://images.pexels.com/photos/373639/pexels-photo-373639.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>