<section id="form" class="container-fluid py-5">
    <div class="container-fluid row col-10 mx-auto">
        <div class="col-lg-6 text-center form-1 py-5">
            <h1 class="text-uppercase">contact form</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-success" id="basic-addon1"><i class="fas fa-user-alt"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your Email Here" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-success" id="basic-addon1"><i class="fas fa-phone-alt"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your Phone Number Here" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-success" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your Mail Here" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-success" id="basic-addon1"><i class="fas fa-users"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Enter Your Username Here" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <button type="button" class="btn btn-success w-100"> <i class="far fa-hand-point-right"></i> CLICK
                HERE</button>
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            <img class="w-100 form-pic"
                src="https://images.pexels.com/photos/413960/pexels-photo-413960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="">
        </div>
    </div>
</section>