<section id="last" class="container-fluid py-3">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex my-auto w-25 justify-content-around">
            <i class="fab fa-facebook-square fa-lg"></i>
            <i class="fab fa-twitter fa-lg"></i>
            <i class="fab fa-instagram-square fa-lg"></i>
            <i class="fab fa-linkedin fa-lg"></i>
        </div>
        <div>
            <h3>&#169; Copyright : Coder</h3>
        </div>
    </div>
</section>