<section id="post" class="container-fluid py-5">
    <div class="container-fluid text-center">
        <h1 class="text-uppercase">latest posts</h1>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
        <hr class="w-25">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <img class="w-100 img-coffee"
                    src="https://images.pexels.com/photos/374147/pexels-photo-374147.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <h1>Post Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem necessitatibus, est ipsum hic
                    fugiat accusamus quia aut sint impedit quo.</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="#">Read More...</a>
                    <p>02/22/2020</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <img class="w-100 img-coffee"
                    src="https://images.pexels.com/photos/1260591/pexels-photo-1260591.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <h1>Post Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem necessitatibus,
                    est ipsum hic
                    fugiat accusamus quia aut sint impedit quo.</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="#">Read More...</a>
                    <p>02/22/2020</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <img class="w-100 img-coffee"
                    src="https://images.pexels.com/photos/2836945/pexels-photo-2836945.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <h1>Post Name</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem necessitatibus,
                    est ipsum hic
                    fugiat accusamus quia aut sint impedit quo.</p>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="#">Read More...</a>
                    <p>02/22/2020</p>
                </div>
            </div>
        </div>
    </div>
</section>