<section id="projects" class="container-fluid py-5">
    <div class="container-fluid text-center">
        <h1>PROJECTS</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <hr class="w-25">
        <div class="d-flex justify-content-center button-group filter-button-group my-3">
            <button class="p-2 bg-success rounded-left" data-filter="*">ALL</button>
            <button class="p-2 bg-success" data-filter=".coffee">COFFEE</button>
            <button class="p-2 bg-success" data-filter=".tea">TEA</button>
            <button class="p-2 bg-success rounded-right" data-filter=".water">WATER</button>
        </div>
        <div class="container-fluid p-0">
            <div class="row grid justify-content-center">
                <div class="col-lg-4 tea img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/405238/pexels-photo-405238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <i class="fas fa-search display-1 glass"></i>
                </div>
                <div class="col-lg-4 tea img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/230477/pexels-photo-230477.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="">
                    <i class="fas fa-search display-1 glass"></i>
                </div>
                <div class="col-lg-4 tea img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
            </div>
            <div class="row grid justify-content-center py-3">
                <div class="col-lg-4 coffee img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/1752806/pexels-photo-1752806.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
                <div class="col-lg-4 coffee img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
                <div class="col-lg-4 coffee img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/374147/pexels-photo-374147.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
            </div>
            <div class="row grid justify-content-center py-3">
                <div class="col-lg-4 water img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
                <div class="col-lg-4 water img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/1231622/pexels-photo-1231622.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>

                </div>
                <div class="col-lg-4 water img-cont">
                    <img class="w-100 img-edit"
                        src="https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""> <i class="fas fa-search display-1 glass"></i>
                </div>
            </div>
        </div>
    </div>
</section>