<section id="reviews" class="container-fluid p-0">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner reviews-img-background">
            <div class="carousel-item active text-center">
                <img src="https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="d-block reviews-img-background-content mx-auto rounded-pill" alt="...">
                <h3>Customer Name</h3>
                <p>Company</p>
                <p class="w-50 mx-auto"> <i class="fas fa-quote-left display-4 text-warning"></i> Lorem ipsum
                    dolor sit
                    amet
                    consectetur, adipisicing
                    elit. Officia
                    eaque necessitatibus perferendis mollitia molestiae minima vitae iste dolorum, illum non.</p>
                <div class="d-flex text-warning justify-content-center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="d-block reviews-img-background-content mx-auto rounded-pill" alt="...">
                <h3>Customer Name</h3>
                <p>Company</p>
                <p class="w-50 mx-auto"> <i class="fas fa-quote-left display-4 text-warning"></i> Lorem ipsum
                    dolor sit
                    amet
                    consectetur, adipisicing
                    elit. Officia
                    eaque necessitatibus perferendis mollitia molestiae minima vitae iste dolorum, illum non.</p>
                <div class="d-flex text-warning justify-content-center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img src="https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="d-block reviews-img-background-content mx-auto rounded-pill" alt="...">
                <h3>Customer Name</h3>
                <p>Company</p>
                <p class="w-50 mx-auto"> <i class="fas fa-quote-left display-4 text-warning"></i> Lorem ipsum
                    dolor sit
                    amet
                    consectetur, adipisicing
                    elit. Officia
                    eaque necessitatibus perferendis mollitia molestiae minima vitae iste dolorum, illum non.</p>
                <div class="d-flex text-warning justify-content-center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>