<section id="top" class="container-fluid bg-success py-2">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex w-25 justify-content-around text-white my-auto">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>
        </div>
        <div">
            <h1 class="m-0 text-right">All rights reserved</h1>
    </div>
    </div>
</section>