<section id="values" class="container-fluid py-5">
    <div class="container-fluid text-center">
        <h1 class="text-uppercase">my values</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <hr class="w-25">
    </div>
    <div class="container-fluid py-5 ">
        <div class="row height-value">
            <div class="col-lg-4">
                <div>
                    <div class="values-content text-center">
                        <i class="fas fa-utensils display-4 bg-dark text-white rounded-circle p-3"></i>
                        <p class="p-3 bg-success text-dark rounded-circle values-content1">1</p>
                        <h1 class="text-uppercase">eat</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div>
                    <div class="values-content text-center">
                        <i class="fas fa-code display-4 bg-dark text-white rounded-circle p-3"></i>
                        <p class="p-3 bg-success text-dark rounded-circle values-content1">1</p>
                        <h1 class="text-uppercase">code</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <div class="values-content text-center">
                        <i class="fas fa-bed display-4 bg-dark text-white rounded-circle p-3"></i>
                        <p class="p-3 bg-success text-dark rounded-circle values-content1">1</p>
                        <h1 class="text-uppercase">sleep</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>