* {
  font-family: "Red Rose", cursive;
}

/* Start of #nav */

.nav-link {
  transition: all 0.3s linear;
}

.nav-link:hover {
  background-color: #28a745;
  color: white;
  border-radius: 10px;
}

/* End of #nav */

/* Start of caro-img2 */

.caro-img2 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img2 */

/* Start of caro-img2-content */

.caro-img2-content {
  height: 80vh;
}

/* End of caro-img2-content */

/* End of caro-img1 */

.caro-img1 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/2087391/pexels-photo-2087391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img1 */

/* Start of caro-img1-content */

.caro-img1-content {
  height: 80vh;
}

/* End of caro-img1-content */

/* End of caro-img3 */

.caro-img3 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img3 */

/* Start of caro-img3-content */

.caro-img3-content {
  height: 80vh;
}

/* End of caro-img3-content */

/* Start of about1 */

.about1 {
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of about1 */

/* Start of about11 */

.about11 {
  border: 5px solid #28a745;
}

/* End of about11 */

/* Start img-edit */

.img-edit {
  height: 300px;
}

/* End img-edit */

/* Start img-cont */

.img-cont {
  position: relative;
  overflow: hidden;
}

.img-cont:hover .glass {
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.img-cont:hover img {
  opacity: 0.3;
}

/* End img-cont */

/* Start glass */

.glass {
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s linear;
}

/* End glass */

/* Start current-cont1 */

.current-cont1 {
  position: relative;
}

/* End current-cont1 */

/* Start current1 */

.current1 {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid white;
  transform: rotate(-20deg);
  transition: all 0.5s linear;
}

.current1:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current1 */

/* Start current2 */

.current2 {
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
  border: 3px solid white;
  transform: rotate(-10deg);
  transition: all 0.5s linear;
}

.current2:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current2 */

/* Start current3 */

.current3 {
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 3px solid white;
  transform: rotate(5deg);
  transition: all 0.5s linear;
}

.current3:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current3 */

/* Start current4 */

.current4 {
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 3px solid white;
  transform: rotate(25deg);
  transition: all 0.5s linear;
}

.current4:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current4 */

/* Start row */

.row {
  height: 500px;
}

@media (max-width: 500px) {
  .row {
    height: 800px;
  }
}

/* End row */

/* Start img-coffee */

.img-coffee {
  width: 100%;
  height: 300px;
}

/* End img-coffee */
