* {
  font-family: "Red Rose", cursive;
}
/* Start of #nav */

.nav-link {
  transition: all 0.3s linear;
}

.nav-link:hover {
  background-color: #28a745;
  color: white;
  border-radius: 10px;
}

/* End of #nav */

/* Start of caro-img2 */

.caro-img2 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img2 */

/* Start of caro-img2-content */

.caro-img2-content {
  height: 80vh;
}

/* End of caro-img2-content */

/* End of caro-img1 */

.caro-img1 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/2087391/pexels-photo-2087391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img1 */

/* Start of caro-img1-content */

.caro-img1-content {
  height: 80vh;
}

/* End of caro-img1-content */

/* End of caro-img3 */

.caro-img3 {
  height: 80vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of caro-img3 */

/* Start of caro-img3-content */

.caro-img3-content {
  height: 80vh;
}

/* End of caro-img3-content */

/* Start of about1 */

.about1 {
  background-image: linear-gradient(to right, rgba(60, 179, 113, 0.5), white),
    url("https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* End of about1 */

/* Start of about11 */

.about11 {
  border: 5px solid #28a745;
  /* height: 75%; */
}

/* End of about11 */

/* Start img-edit */

.img-edit {
  height: 300px;
}

/* End img-edit */

/* Start img-cont */

.img-cont {
  position: relative;
  overflow: hidden;
}

.img-cont:hover .glass {
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.img-cont:hover img {
  opacity: 0.3;
}

/* End img-cont */

/* Start glass */

.glass {
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s linear;
}

/* End glass */

/* Start current-cont1 */

.current-cont1 {
  position: relative;
}

/* End current-cont1 */

/* Start current1 */

.current1 {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid white;
  transform: rotate(-20deg);
  transition: all 0.5s linear;
}

.current1:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current1 */

/* Start current2 */

.current2 {
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
  border: 3px solid white;
  transform: rotate(-10deg);
  transition: all 0.5s linear;
}

.current2:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current2 */

/* Start current3 */

.current3 {
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 3px solid white;
  transform: rotate(5deg);
  transition: all 0.5s linear;
}

.current3:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current3 */

/* Start current4 */

.current4 {
  width: 60%;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 3px solid white;
  transform: rotate(25deg);
  transition: all 0.5s linear;
}

.current4:hover {
  transform: rotate(0);
  z-index: 1;
}

/* End current4 */

/* Start row */

.row {
  height: 500px;
}

@media (max-width: 500px) {
  .row {
    height: 800px;
  }
}

/* End row */

/* Start img-coffee */

.img-coffee {
  width: 100%;
  height: 300px;
}

/* End img-coffee */

/* Start contact-details */

.contact-details1 {
  transform: skew(-5deg);
}

.contact-details {
  height: 40vh;
  background: url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skew(5deg);
}

@media (max-width: 500px) {
  #contact {
    margin-top: 700px;
  }
}

/* End contact-details */

/* Start contact-button */

.contact-button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

/* End contact-button */

/* Start contact-input */

.contact-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  color: black;
}

/* End contact-input */

/* Start values-content */

.values-content {
  position: relative;
}

.values-content i {
  transition: all 0.5s linear;
}

.values-content i:hover {
  transform: scale(1.2);
}

.values-content i:hover + .values-content1 {
  background-color: black !important;
  color: white !important;
}

/* End values-content */

/* Start values-content1 */

.values-content1 {
  position: absolute;
  width: 1%;
  left: 53%;
  bottom: 70%;
}

/* End values-content1 */

/* Start height-value */

.height-value {
  height: 100px !important;
}

/* End height-value */

/* Start img-value */

.img-value {
  position: relative !important;
  height: 280px !important;
  overflow: hidden;
}

/* End img-value */

/* Start img-value-num */

.img-value-num {
  width: 400px !important;
}

/* End img-value-num */

/* Start img-value-content */

.img-value-content {
  position: absolute;
  width: 400px;
  transition: all 0.5s linear !important;
  bottom: -40%;
}

.img-value-num:hover ~ .img-value-content {
  bottom: 0%;
}

.img-value-num:hover {
  opacity: 0.5;
}

/* End img-value-content */

/* Start #comrades */

@media (max-width: 500px) {
  #comrades {
    margin-top: 200px;
  }
}

/* End #comrades */
